@import url(blog.css);

.blog-box {
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    grid-template-columns: 30px repeat(4, 1fr);
    grid-template-rows: 70px 200px 100px;
    grid-template-areas:
        "sd sd hd hd hd hd hd"
        "sd sd  main main main main main "
        "sd sd  main main main main main "
        "sd sd main main main main main"
    ;
}

#title {
    font-size: xx-large;
    font-family: 'Nanum Myeongjo', serif;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}

a {
    color: inherit;
}

@media screen {}