@import url(blog.css);
@import url(header&footer.css);
@import url(blog-box.css);

/* .box{
    border: 1px solid rgb(4, 99, 29);
    
} */



body {
    background-color: aliceblue;
    font-size: 26px;
    margin: 0%;
    font-family: 'Roboto', sans-serif;

}

h1,h2,h3 {
    margin-top: 0;
    font-family: 'Nanum Myeongjo', serif;

}




hr {
    margin: 150px 300px 0 300px;
 
}













/* media style */

@media (max-width: 1000px) {
    .container {
        width: 100%;
        margin: auto;
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows:500px 50px 150px 1fr 100px ;
            grid-template-areas:
            "sd sd "
            "hd hd "
            "av bio "
            "main main"
            "inf ft";
    }
    .bio{
        font-size: 1.25rem;
    }
}
@media (max-width: 800px) {
    .navbar{
        font-size: 1.25rem;
        padding: 20px;
        column-gap: normal;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr ;
        grid-template-areas:
        "lg lg pro pro"
        "pg pg pg pg";
    }
    .footer-bar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "nw nw nw "
            "fc fc fc"
            "lg  pr pr"
        ;
    }
    
.footer-content {
    text-align: center;
}
    
}